#id1 {
	background-color: #3498db;
	color: #FFFFFF;
}

#id2 {
	background-color: #e74c3c;
	color: #FFFFFF;
}

#id3 {
	background-color: #2ecc71;
	color: #FFFFFF;
}

#id1:hover{
	background-color: #2980b9;
	font-size: 20px;
}

#id2:hover{
	background-color: #c0392b;
	font-size: 20px;
}

#id3:hover{
	background-color: #27ae60;
	font-size: 20px;
}

.td {
	height: 150px;
	padding-top: 70px;
}

#popup {
	display: none;
  	position: absolute;
  	width: 280px;
  	padding: 10px;
  	background: #eeeeee;
  	color: #000000;
  	border: 1px solid #1a1a1a;
  	font-size: 90%;
}